@import "reset";
html{
  scroll-behavior: smooth;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@keyframes moveAva {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 5px;
  }
  100% {
    margin-top: 0;
  }
}
@keyframes avaChange {
  0% {
    opacity: 0;
    margin-right: 0;
  }
  50% {
    margin-right: 20px;
  }
  100% {
    opacity: 1;
    margin-right: 0px;
  }
}
.body {
  font-family: "Montserrat", sans-serif;
  position: relative;
}
.body::-webkit-scrollbar {
  background-color: #1c2a33;
  width: 9px;
}
.body::-webkit-scrollbar-thumb {
  background-color: #18cfab;
}
/* navigation */
.header-global {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(94, 93, 88, 0.6);
  font-weight: 700;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.logo {
  position: relative;
  display: flex;
  align-items: center;
}
.logo-h {
  position: absolute;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  top: 13px;
  left: 13px;
}
.logo-word {
  margin-left: 6px;
  color: #fff;
  font-size: 32px;
  font-weight: 400;
}
.span-ham {
  color: #18cfab;
  font-weight: 700;
}
.global__nav {
  margin-left: 305px;
  height: 100%;
  @media (max-width: 1100px) {
    margin-left: 192px;
  }
  @media (max-width: 992px) {
    margin-left: 70px;
  }
}
.nav__list {
  display: flex;
  height: inherit;
  align-items: center;
}
.list__element {
  padding-left: 21px;
  height: inherit;
}
.list__element--active {
  padding-left: 0;
}
.element__link {
  display: flex;
  align-items: center;
  height: inherit;
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  transition: 0.2s ease-in-out color;
  @media (max-width: 1280px) {
    font-size: 22px;
  }
}
.element__link:hover {
  color: #18cfab;
  padding-top: 2px;
  border-bottom: 2px solid #18cfab;
}
/* main section */
.creative {
  background-image:url("../img/section-1.jpg");
  background-attachment: fixed;
  position: static;
  height: 1012px;
  overflow: hidden;
}
.creative-title {
  text-align: center;
  font-weight: 700;
  font-size: 35px;
  margin-top: 384px;
  text-transform: uppercase;
  color: #fff;
}
.wordpress {
  color: #18cfab;
}
.creative-subtitle {
  font-size: 78px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-top: 22px;
  color: #fff;
}
.buy-and-enjoy {
  font-size: 34px;
  color: #d4d4d4;
  text-align: center;
  margin-top: 22px;
}
.buttons-creative {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 129px;
}
.button-green-white {
  background-color: #18cfab;
  color: #fff;
  border-radius: 5px;
  padding: 16px 18px;
  text-transform: uppercase;
  font-weight: 700;
  border-top: 5px solid #fff;
}
.purchase {
  background-color: #00cbf6;
  color: #fff;
  border-radius: 5px;
  padding: 16px 12px;
  text-transform: uppercase;
  font-weight: 700;
  border-top: 5px solid #fff;
  margin-left: 26px;
}

/* 4 option section */
.option-container {
  display: flex;
  justify-content: center;
  @media (max-width: 1280px) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}
.dark-option,
.light-option {
  flex-grow: 1;
  width: 482px;
  height: 377px;
  border-top: 9px solid #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  @media (max-width: 1280px) {
    width: 100%;
  }
}
.dark-option {
  background-color: #1c2a33;
}
.dark-option-icon {
  margin-top: 93px;
  margin-bottom: 48px;
}
.light-option {
  background-color: #18cfab;
}
.dark-theme-title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #18cfab;
}
.light-option-icon {
  margin-top: 104px;
  margin-bottom: 58px;
}
.light-title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

/* our services section */
.our-services {
  position: relative;
  @media (max-width: 1144px) {
    height: 515px;
  }
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 91px;
}
.title-services {
  text-align: center;
  font-size: 36px;
  color: #4e4e4e;
  margin-top: 83px;
}
.title-services::after {
  content: "";
  display: block;
  width: 79px;
  height: 2px;
  background-color: #18cfab;
  position: absolute;
  top: 70px;
  left: calc(50% - 25.5px);;
  z-index: 1;
}
.title-services::before {
  content: "";
  display: block;
  width: 79px;
  height: 2px;
  background-color: #18cfab;
  position: absolute;
  top: 65px;
  left: calc(50% - 39.5px);
  z-index: 1;
}
.service-list-tabs {
  display: flex;
  justify-content: center;
  margin-top: 101px;
}
.service-item {
  padding: 18px 34px;
  border: 1px solid #edefef;
  background-color: #f8fcfe;
  font-size: 16px;
  color: #717171;
  cursor: pointer;
  padding-left: 50px;
  padding-right: 50px;
  position: relative;
  transition: 0.3s ease-in-out;
  @media (max-width: 1280px) {
    padding-left: 34px;
    padding-right: 34px;
  }
}
.service-item.active {
  background-color: #18cfab;
  color: #fff;
}
@keyframes opacitychange {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.service-item.active::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #18cfab;
  position: absolute;
  top: 50px;
  left: 45%;
  z-index: 1;
  animation: opacitychange 0.32s ease-in-out;
}
.service-description {
  display: none;
  height: 136px;
  width: 1159px;
  margin-top: 28px;
  @media (max-width: 1144px) {
    width: 790px;
  }
}
.service-description.active {
  display: flex;
  justify-content: flex-start;
}
.service-description-img {
  margin-left: 25px;
}
.text-content {
  line-height: 24px;
  font-weight: 300px;
  color: #777777;
  font-size: 14px;
  margin-left: 15px;
}

/* buy-install */
.buy-install {
  height: 476px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
.buy-install::after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  left: 0;
  top: 0;
  background-image: url("../img/section-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
  filter: brightness(0.3);
  background-size: auto;
  background-position-x: center;
  background-repeat: no-repeat;
  @media (min-width:1921px) {
    background-size: cover;
  }
}
.title-buy {
  text-transform: uppercase;
  color: #18cfab;
  font-size: 40px;
  font-weight: 700;
  margin-top: 128px;
}
.subtitle-buy {
  color: #d8d8d8;
  margin-top: 13px;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
}
.buy-install_button {
  margin-top: 83px;
}

/* our amazing work */
.amazing-work {
  height: 1212px;
  background-color: #e9edef;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding-bottom: 99px;
  transition: height 0.3s ease-in-out;
  @media (max-width: 1144px) {
    height: 1800px;
  }
}
.amazing-title {
  font-size: 36px;
  margin-top: 95px;
}
.amazing-title::after {
  content: "";
  display: block;
  width: 79px;
  height: 2px;
  background-color: #18cfab;
  position: absolute;
  top: 170px;
  left: calc(50% - 25.5px);;
  z-index: 1;
}
.amazing-title::before {
  content: "";
  display: block;
  width: 79px;
  height: 2px;
  background-color: #18cfab;
  position: absolute;
  top: 165px;
  left: calc(50% - 39.5px);
  z-index: 1;
}
.topic-element {
  border: 1px solid #dadada;
}
.topic-element.active {
  color: #18cfab;
  border: 1px solid #18cfab;
}
.topic-switch {
  margin-top: 97px;
  display: flex;
}
.hide {
  display: none;
}
.topic-element {
  padding: 14px 28px 12px 28px;
  transition: border, 0.2s, ease-out, color;
  cursor: pointer;
}
.topic-element:nth-child(2) {
  padding: 14px 15px 13px 16px;
}
.topic-element:nth-child(3) {
  padding: 14px 15px 13px 15px;
}
.topic-element:nth-child(4) {
  padding: 14px 15px 13px 15px;
}
.topic-element:nth-child(5) {
  padding: 14px 15px 13px 16px;
}
.topic-element:nth-child(6) {
  padding: 14px 12px 13px 17px;
}
.topic-element:focus {
  color: #18cfab;
  border: 1px solid #18cfab;
}
.item-wrapper-container {
  position: relative;
  animation: opacitychange 0.3s ease-in-out;
}
/* hover-block */
.creative-design {
  height: 211px;
  width: 285px;
  border-top: 6px solid #18cfab;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: 0.2s ease-in-out opacity;
  background-color: #e9edef;
}
.creative-design:hover {
  opacity: 1;
}
.link-pause {
  position: relative;
  display: flex;
  margin-top: 42px;
  justify-content: center;
}
.link {
  position: absolute;
  left: 12px;
  top: 12px;
}
.stop {
  position: absolute;
  left: 15px;
  top: 17px;
}
.round-button {
  position: relative;
}
.stop_button {
  margin-left: 3px;
}
.hidden_wrapper {
  display: none;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 1140px;
  opacity: 0;
  transition: 1s ease-in-out opacity;
  @media (max-width: 1144px) {
    flex-direction: column;
    align-content: center;
    width: 100vw;
    height: 2000px;
  }
}
.image-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 71px;
  width: 1140px;
  @media (max-width: 1144px) {
    flex-direction: column;
    align-content: center;
    width: 100vw;
    height: 1486px;
  }
}
.amazing-work-title {
  font-weight: 700;
  margin-top: 23.8px;
  text-transform: uppercase;
  color: #18cfab;
  text-align: center;
}
.amazing-work-subtitle {
  font-weight: 300;
  font-size: 13px;
  color: #8a8a8a;
  text-align: center;
  margin-top: 10px;
}
.load-more {
  margin-top: 70px;
  background-color: #18cfab;
  padding: 17px 17px 17px 56px;
  position: relative;
  border-radius: 5px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  transition: 0.3s ease-in-out;
}
.plus {
  position: absolute;
  left: 18px;
  top: 14px;
}
/* breaking news section*/
.breaking-news {
  position: relative;
}
.breaking-title {
  margin-top: 82px;
  font-size: 36px;
  text-align: center;
}
.breaking-title::after {
  content: "";
  display: block;
  width: 79px;
  height: 2px;
  background-color: #18cfab;
  position: absolute;
  top: 70px;
  left: calc(50% - 25.5px);;
  z-index: 1;
}
.breaking-title::before {
  content: "";
  display: block;
  width: 79px;
  height: 2px;
  background-color: #18cfab;
  position: absolute;
  top: 65px;
  left: calc(50% - 39.5px);
  z-index: 1;
}
.posts-wrapper {
  display: flex;
  flex-direction: row;
  width: 1157px;
  height: 600px;
  flex-wrap: wrap;
  margin: 100px auto 129px auto;
  gap: 35px;
  @media (max-width: 1144px) {
    flex-direction: column;
    height: 1203px;
    width: 568px;
    align-content: center;
  }
}
.post-image:hover + .post-heading {
  color: #18cfab;
}

.link-post:hover .absolute-date {
  background-color: #18cfab;
}
/* what people say section*/
.what-they-say {
  height: 853px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.what-they-say::after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  left: 0;
  top: 0;
  background-image: url("../img/section-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
  filter: brightness(0.6);
  background-size: auto;
  background-position-x: center;
  background-repeat: no-repeat;
  @media (min-width: 1921px) {
    background-position: -1px;
    background-size: cover;
  }
}
.they-say {
  margin: 98px auto;
  font-size: 36px;
  color: #fff;
  font-weight: 400;
}
.they-say::after {
  content: "";
  display: block;
  width: 79px;
  height: 2px;
  background-color: #18cfab;
  position: absolute;
  top: 170px;
  left: calc(50% - 25.5px);;
  z-index: 1;
}
.they-say::before {
  content: "";
  display: block;
  width: 79px;
  height: 2px;
  background-color: #18cfab;
  position: absolute;
  top: 165px;
  left: calc(50% - 39.5px);
  z-index: 1;
}
.quote {
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  color: #bbbbbb;
  width: 1160px;
  margin: 68px auto 0px auto;
  text-align: center;
  display: none;
  @media (max-width: 1144px) {
    width: 800px;
  }
}
.quote.active {
  display: block;
  animation: avaChange 0.5s ease-in-out;
}
.quote::before {
  content: "";
  display: block;
  width: 47px;
  height: 33px;
  background-image: url(../img/what-they-say/quote.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 240px;
  left: calc(50% - 23.5px);
}

.displayable-avatar {
  position: relative;
  margin-top: 38px;
  display: none;
}
.displayable-avatar.active {
  display: block;
  animation: avaChange 0.5s ease-in-out;
}
.avatar-stroke {
  position: relative;
}
.avatar {
  position: absolute;
  z-index: 1;
  top: 12px;
  left: 10px;
}
.avatars-choice {
  position: absolute;
  z-index: 1;
  top: 7px;
  left: 45px;
}
.available-quotes {
  display: flex;
  margin-right: 30px;
  margin-top: 50px;
}
.quote-element:first-child {
  cursor: pointer;
}
.quote-element.active {
  animation: moveAva 0.6s ease-in-out;
}
.button__previous {
  width: 31px;
  height: 31px;
  border: 1px solid #bbbbbb;
  position: absolute;
  bottom: 100px;
  left: calc(50% - 292px);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.button__previous:hover {
  border: 1px solid #18cfab;
  background-color: #18cfab;
}
.button__next {
  width: 31px;
  height: 31px;
  border: 1px solid #bbbbbb;
  position: absolute;
  bottom: 100px;
  left: calc(50% + 273px);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.button__next:hover {
  border: 1px solid #18cfab;
  background-color: #18cfab;
}
.avatar-container {
  position: relative;
  padding-left: 39px;
}
.quote-element:nth-child(4) .avatar-container .avatars-choice {
  left: 44px;
}
.post {
  position: relative;
}
.absolute-date {
  position: absolute;
  z-index: 1;
  width: 70px;
  height: 68px;
  top: 0;
  right: 0;
  background-color: #203e38;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  transition: ease-in-out 0.3s;
}
.post-heading {
  text-align: left;
  font-weight: 700;
  color: #717171;
  padding: 16px 40px 0px 30px;
  font-size: 18px;
  transition: 0.3s ease-in-out;
}
.author {
  display: flex;
  justify-content: space-evenly;
}
.author-comments {
  text-align: justify;
  font-weight: 300;
  margin-top: 14px;
  font-size: 14px;
}
.changable-name {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  color: #18cfab;
  margin-top: 37px;
  display: none;
}
.changable-name.active {
  display: block;
  animation: avaChange 0.5s ease-in-out;
}
.profession {
  margin-top: 18px;
  font-weight: 300;
  font-size: 13px;
  color: #fff;
  display: none;
}
.profession.active {
  display: block;
  animation: avaChange 0.5s ease-in-out;
}

/* gallery */
.gallery {
  position: relative;
}
.gallery-title {
  margin-top: 108px;
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  color: #4e4e4e;
}
.gallery-title::after {
  content: "";
  display: block;
  width: 79px;
  height: 2px;
  background-color: #18cfab;
  position: absolute;
  top: 70px;
  left: calc(50% - 25.5px);;
  z-index: 1;
}
.gallery-title::before {
  content: "";
  display: block;
  width: 79px;
  height: 2px;
  background-color: #18cfab;
  position: absolute;
  top: 65px;
  left: calc(50% - 39.5px);
  z-index: 1;
}
.gallery-wrap {
  margin-top: 115px;
  display: flex;
  flex-wrap: wrap;
}
/* footer */
.copyright {
  height: 121px;
  background-color: #22353f;
  display: flex;
  justify-content: center;
  align-items: center;
}
.copy {
  padding: 48px auto;
  color: #aeaeae;
}
.theham-copy {
  color: #18cfab;
}
