@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.body{
    font-family: 'Montserrat', sans-serif;
    position: relative;
}


.header-global{
    height: 120px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color:rgba(94, 93, 88, 0.6);
    font-weight: 700;
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
}
.logo{
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 380px;

}
.logo-h{
    position: absolute;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    top: 13px;
    left: 13px;
}
.logo-word{
    margin-left: 6px;
    color: #fff;
    font-size: 32px;
    font-weight: 400;
}
.span-ham{
    color: #18CFAB;
    font-weight: 700;
}
.nav-top{
    margin-left: 305px;
}
.header-nav-list{
    display: flex;
}
.nav-list-element{
    padding-left: 21px;
}
.nav-list-element:first-child{
    padding-left: 0;
}
.nav-list-link{
    color:rgba(255,255,255,0.6);
    text-transform: uppercase;
}
.creative{
    background-image: url("../img/Sectionsbackground/section-1.jpg");
    background-attachment: fixed;
    position:static;
    height: 1012px;
    overflow: hidden;
}
.creative-title{
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin-top: 384px;
    text-transform: uppercase;
    color: #fff;
}
.wordpress{
    color: #18CFAB;  
}
.creative-subtitle{
    font-size: 78px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-top: 22px;
    color: #fff;
}
.buy-and-enjoy{
    font-size: 34px;
    color: #D4D4D4;
    text-align: center;
    margin-top: 22px;
}
.buttons-creative{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 129px;
}
.button-green-white{
    background-color: #18CFAB;
    color: #FFF;
    border-radius: 5px;
    padding: 16px 18px;
    text-transform: uppercase;
    font-weight: 700;
    border-top: 5px solid #fff;
}
.purchase{
    background-color: #00CBF6;
    color: #FFF;
    border-radius: 5px;
    padding: 16px 12px;
    text-transform: uppercase;
    font-weight: 700;
    border-top: 5px solid #fff;
    margin-left: 26px;
}
.option-container{
    display: flex;
    
}
.dark-option,.light-option{
    width: 482px;
    height: 377px;
    border-top: 9px solid #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.dark-option{
    background-color: #1C2A33;
}
.dark-option-icon{
    margin-top: 93px;
    margin-bottom: 48px;
}
.light-option{
    background-color: #18CFAB;

}
.dark-theme-title{
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #18CFAB;
}
.light-option-icon{
    margin-top: 104px;
    margin-bottom: 58px
}
.light-title{
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFF;
}
.our-services{
    position: relative;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title-services{
    text-align: center;
    font-size: 36px;
    color: #4E4E4E;
    margin-top: 83px;
}
.title-services::after{
    content: "";
    display: block;
    width: 79px;
    height: 4px;
    background-color: #18CFAB;
    position: absolute;
    top: 100px;
    left: 914px;
}
.service-list{
    display: flex;
    justify-content: center;
    margin-top: 101px;
}
.service-item{
    padding: 18px 34px;
    border: 1px solid #EDEFEF;
    background-color: #F8FCFE;
    font-size: 16px;
    color: #717171;
}
.service-item:first-child{
    background-color: #18CFAB;
    color: #fff;
    padding-left:50px;
    padding-right:50px;
}
.service-item:first-child::after{
    content: "";
    display: block;
    width: 0; 
    height: 0; 
    border-left: 27px solid transparent;
    border-right: 27px solid transparent;
    border-top: 27px solid #18CFAB;
    position: absolute;
    left: 470px;
  }
  .service-description{
      display: flex;
      justify-content: flex-start;
      height: 136px;
      width: 1159px;
  }
  .service-description-img{
      margin-left: 35px;
  }
  .text-content{
      line-height: 24px;
      font-weight: 300px;
      color: #777777;
      font-size: 14px;
   }
  .cursor{
    position: absolute;
    left: 50%;
    right: 50.13%;
    top: 43%;
    bottom: 81.09%;
  }